@use 'variables' as *;

* {
  box-sizing: border-box;
}

body {
    position: relative;
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    padding-inline: 27px;
    background-color: $LightGray;
    font-family: $fontFamily;
    font-size: $fontSize;
}

.card {
    max-width: 320px;
    padding: 16px;
    border-radius: 20px;
    background-color: $White;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    & img {
        width: 100%;
        border-radius: 10px;
    }
    & h2 {
        margin-top: 18px;
        font-weight: $fontWeightBold;
        color: $DarkBlue;
        font-size: 22px;
        letter-spacing: 0.1px;
    }
    & h3 {
        margin-top: 16px;
        margin-bottom: 24px;
        padding-inline: 18px;
        letter-spacing: 0.22px;
        color: $GrayishBlue;
    }
}

span {
  position: absolute;
  inset: auto 0 16px 0;
  width: fit-content;
  margin: auto;
  font-size: 11px;
  color: #666;
  text-align: center;
  & a {
    color: #222;
    text-decoration: none;
  }
}